{% extends 'main.html' %} {% block content %}

<div class="container py-4">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="block">
        <div class="block-content">
          <div class="text-white font-size-lg fw-bold mb-2">Polls page</div>

          {% if latest_question_list %}
          <ul class="list-disc">
            {% for question in latest_question_list %}
            <li>
              <a href="{% url 'detail' question.id %}"
                >{{ question.question_text }}</a
              >
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No polls are available.</p>
          {% endif %} 
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}