{% extends 'main.html' %} {% block content %}

<div class="container py-4">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="block">
        <div class="block-content">
          <div class="text-white font-size-lg fw-bold mb-2">About</div>
          <p>Connect and converse with language learners around the world! Our app offers real-time chat features, language exchange partners, and interactive lessons to enhance your skills. Whether you're practicing speaking, expanding your vocabulary, or mastering grammar, our community supports you every step of the way. Join today and make language learning fun and engaging!

        </div>

        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
