{% extends 'main.html' %} {% block content %}
<!-- Container -->
<div class="container py-4">
  <div class="row">
    <div class="col-lg-4 col-xl-3">
      {% include 'chatapp/components/sidebar.html' %}
    </div>
    <div class="col-lg-8 col-xl-9">
      

      {% include 'chatapp/components/activities.html' %}

      <!-- Stats -->
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <a class="block" href="{% url 'create-room' %}">
            <div
              class="block-content block-content-full d-flex justify-content-center align-items-center"
            >
              <div class="py-2 text-center">
                <div class="text-white font-size-lg fw-bold">
                  <span class="mr-2">Create Room</span> ✨
                </div>
               
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- END Stats -->

    </div>
  </div>
</div>
<!-- END Content -->

{% endblock %}
