{% extends 'main.html' %} {% block content %}

<div class="container py-4">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="block">
        <div class="block-content">
          {% if page == 'login' %}
          <div>
            <div class="text-white font-size-lg fw-bold mb-2">Login</div>
            <form method="POST" action="">
              {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Enter username"
                  class="form-control"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Enter password"
                  class="form-control"
                  required
                />
              </div>

              <button type="submit" class="btn btn-success">Login</button>
            </form>

            <p class="mt-2">
              <small>
                Haven't signed up yet?
                <a href="{% url 'register' %}">Sign up</a>
              </small>
            </p>
          </div>

          {% else %}

          <div>
            <div class="text-white font-size-lg fw-bold mb-2">Register</div>
            <!-- <form method="POST" action="">
              {% csrf_token %} {{ form.as_p }}

              <input type="submit" class="btn btn-success" value="Register" />
            </form> -->

            <form method="POST" action="">
              {% csrf_token %}
          
              <div class="mb-3">
                  <label for="username" class="form-label">Username:</label>
                  <input type="text" name="username" id="username" class="form-control" required placeholder="Enter username" />
              </div>
          
              <div class="mb-3">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" name="email" id="email" class="form-control" required placeholder="Enter email" />
              </div>
          
              <div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" name="password" id="password" class="form-control" required placeholder="Enter password" />
              </div>
          
              <div class="mb-3">
                  <label for="confirm_password" class="form-label">Confirm Password:</label>
                  <input type="password" name="confirm_password" id="confirm_password" class="form-control" required placeholder="Confirm password" />
              </div>
          
              <input type="submit" class="btn btn-success" value="Register" />
          </form>

            <p class="mt-2">
              <small
                >Already signed up yet?
                <a href="{% url 'login' %}">Login</a></small
              >
            </p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
