{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label for="">Username:</label>
        <input type="text" name="username" placeholder="Enter username" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded  py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
        
        <label for="">Password:</label>
        <input type="password" name="password" placeholder="Enter password" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded  py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">

        <input type="submit" value="Login" />
    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Register" />
    </form>

    <p>Already signed up yet?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock content%}