{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label for="">Username:</label>
        <input type="text" name="username" placeholder="Enter username" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded  py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
        
        <label for="">Password:</label>
        <input type="password" name="password" placeholder="Enter password" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded  py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">

        <input type="submit" value="Login" />
    </form>
</div>


{% endblock content%}