<!-- Projects -->
<div class="block">
  <div class="block-content bg-black-10">

    <div class="row">
      <div class="col-lg-8  d-flex align-items-center pl-4">
        <h3 class="font-size-lg text-muted fw-bold text-uppercase mb-0">
          Chatrooms 
          {% if q %}
          ({{q}})
          {% endif %}
    
        </h3>
      </div>
      <div class="col-lg-4">
        <form action="{% url 'home' %}" method="GET" class="mb-2">
          <input
            type="text"
            name="q"
            class="form-control bg-black-10 search"
            placeholder="Search rooms"
          />
        </form>
      </div>
    </div>





  </div>
  <div class="block-content">
    <div class="table-responsive">
      <table
        class="table table-dark table-borderless table-striped table-vcenter font-size-sm mb-0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Host</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for room in rooms %}
          <tr>
            <td>
              <a  href="{% url 'room' room.id %}">
                <h5 >{{room.name}}</h5>
              </a>
              <p
                class="font-size-sm text-white-50 mb-0 d-none d-md-block"
              >
              <small>Topic: {{room.topic.name}}</small>
              </p>
            </td>
            <td>
              <span class="badge text-bg-success p-2 ">
                <div class="text-green">{{room.host.username}}</div>
              </span>
            </td>
            <td class="text-center">
              
             
              <p>
                <a href="{% url 'room' room.id %}"><i class="fa fa-solid fa-eye text-white mr-2"></i></a>
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}"><i class="fa fa-pencil-alt mr-2 text-white"></i></a>
                <a href="{% url 'delete-room' room.id %}"><i class="fa fa-trash text-white"></i></a>
                {% endif %}
              </p>
              
            </td>
          </tr>
          {% endfor %}

        
        </tbody>
      </table>
    </div>
  </div>

  <div class="block-content bg-black-10">
    <div class="row text-center">
      <div class="col-sm-4 py-3">
        <div class="text-muted mb-2 text-uppercase font-size-sm fw-bold">
          Rooms Available
        </div>
        <div class="text-black font-size-lg fw-bold">{{room_count}}</div>
      </div>
      <div class="col-sm-4 py-3">
        <div class="text-muted mb-2 text-uppercase font-size-sm fw-bold">
          Users Online
        </div>
        <div class="text-black font-size-lg fw-bold">NA</div>
      </div>
      <div class="col-sm-4 py-3">
        <div class="text-muted mb-2 text-uppercase font-size-sm fw-bold">
          Activities
        </div>
        <div class="text-black font-size-lg fw-bold">NA</div>
      </div>
    </div>
  </div>
</div>
<!-- END Projects -->