<!-- Navigation -->
<div class="block d-none d-lg-block me-lg-4">
  <div class="block-content">
    <div class="font-size-sm text-uppercase text-light fw-bold mb-3">
      Topics
    </div>
    <ul class="nav-main mb-4">
      <form action="{% url 'home' %}" method="GET" class="mb-2">
        <input
          type="text"
          name="q"
          class="form-control bg-black-10 search"
          placeholder="Search rooms"
        />
      </form>

      {% for topic in topics %}

      <li class="nav-main-item">
        <a class="nav-main-link" href="{% url 'home' %}?q={{topic.name}}">
          <i class="fa fa-chart-line nav-main-icon"></i>
          <span class="nav-main-text">{{topic.name}}</span>
        </a>
      </li>

      {% endfor %}
    </ul>
  </div>
</div>


<div class="block d-none d-lg-block me-lg-4">
  <div class="block-content">
    <div class="font-size-sm text-uppercase text-light fw-bold mb-3">
      Recent Activities
    </div>

    
    <ul class="nav-main mb-4">
      {% for message in room_messages %}
        <li class="mb-2">
          <div>
            <a href="{% url 'user-profile' message.user.id %}">@{{ message.user }}</a> replied to "{{ message.room }}"
          </div>
          <div><small>{{ message.created|timesince }} ago</small></div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- END Navigation -->
