      <!-- Footer -->
      <div class="bg-black-10">
        <footer
          class="container text-muted font-size-sm d-md-flex justify-content-md-between py-4"
        >
          <div class="text-center text-md-start py-2">
            <strong>Cultural Chat</strong> &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>

            <a href="https://github.com/mkleung/django-chat-demo">Github Repo</a>
          </div>
          <div class="text-center text-md-end py-2">
            Crafted with <i class="fa fa-heart text-danger"></i> by
            <a target="_blank" href="https://mikeleung.ca">Michael Leung</a>
          </div>
        </footer>
      </div>
      <!-- END Footer -->